@media screen and (max-width:960px){
	h1{font-size: 6vw;}
}//960px

@media screen and (max-width:800px){
	.mainFooter{
		.textContainer{
			@include flexWrap(wrap);
			}
		.copyright, .footerNav{
			@include flex(1 100%);
			}
		.copyright{text-align: right;}
		.footerNav{padding-top: 10px;}
		}
}

@media screen and (max-width:765px){
	.pnpExample{display: none;}
	.kickstarterCorner{width: 75px; svg{height: 75px;}}
	.someQuotes{
		@include flexWrap(wrap);
		blockquote{
			@include flex(0 100%);
			padding: 0;
			}
		}
}

@media screen and (max-width:686px){
	.getUpdates{
		.mainText, .characterImage{
			@include flex(1);
			}
		.colorWrap{
			height: 80%;
			top: 10%;
			}
		}	
	.backNow{
		aside, .mainImage, .colorWrap{
			@include flex(1);
			}
		}
	.theCrew{
		@include flexWrap(wrap);
		aside, .mainText{
			@include flex(1 100%);
			}
		aside{
			text-align: center;
			padding-right: 0;
			padding-bottom: 30px;
			}
		}
}//end 686px

@media screen and (max-width:580px){
	.getUpdates{
		@include flexWrap(wrap);
		h1, h3{text-align: center;}
		form{margin-bottom: 10px;}
		.mc-field-group{
			display: block;
			input{width: 100%;}
			input + label + input{
				margin-left: 0; 
				margin-top: 10px;
				}
			}
		.mainText{padding-right: 0}
		.mainText, .characterImage{
			@include flex(1 100%);
			}
		.colorWrap{
			height: auto;
			top: 0;
			bottom: 0;
			margin: 100px 0 0;
			}
		}
		
	.mainFooter{
		.copyright, .footerNav{padding-top: 0;}
		.footerNav a{
			display: block;
			margin: 0;
			padding: 10px 0 0;
			}
		}	
}

@media screen and (max-width:565px){
	.introText{
		@include flexWrap(wrap);
		aside, .mainText{
			@include flex(1 100%);
			}
		aside{
			text-align: center;
			padding-right: 0;
			padding-bottom: 30px;
			}
		}
		
	.printPlay .mainText{@include flex(1 100%);}
			
	.backNow{
		@include flexWrap(wrap);
		margin-bottom: 30px;
		aside, .mainImage{
			@include flex(1 100%);
			}
		aside{
			text-align: center;
			padding: 0 10px;
			}
		.backitButton{margin-bottom: 20px;}
		.colorWrap{
			height: auto;
			top: 0;
			bottom: 0;
			margin: 30px 0 0;
			}
		}
		
	.theCrew .mainText{
		text-align: center;
		.crewProfile{
			@include flexWrap(wrap);
			}
		.crewProfileText{
			padding-left: 0;
			@include flex(1 100%);
			}
		img{
			margin: 0 auto;
			width: 200px;
			}
		}
    .sebastianWelcome{display: none;}
}//end 565px

@media screen and (max-width:400px){
	.kickstarterCorner{width: 50px; svg{height: 50px;}}
	h1{font-size: 4em;}
	}