#quiz{
	.answers{
		margin-bottom: 30px;
		label{
			display: block;
			font: 400 1.6em/1.75em "Libre Baskerville",Georgia,serif;
			padding-bottom: 15px;
			padding-left: 20px;
			}
		input{margin-left: -20px;}
		}
	button{
		clear: left;
		float: left;
		}
	.errorMessage{
		background: $lightPurple;
		color: white;
		font: 400 normal 1em/1 "Libre Baskerville",Georgia,serif;
		padding: 3px 5px;
		}
	.mainFooter{margin-top: 50px;}
	}
	










