
#quiz .question
{
	display: block;
	clear: left;
	float: left;
}

#quiz .answers
{
	float: left;
}

#quiz .answers label
{
	float: left;
}

#quiz button,
#quiz input
{
	clear: left;
	float: left;
}

#quiz .errorMessage
{
	float: left;
}
