html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img, svg {
  max-width: 100%;
  height: auto; }

body {
  background: rgba(69, 69, 69, 0.2);
  color: #682267;
  font-family: "Libre Baskerville";
  font-size: 62.5%; }

p {
  font: normal 400 1.6em/1.75em "Libre Baskerville", Georgia, serif;
  padding-bottom: 30px; }
  p i {
    font-style: italic; }
  p b {
    font-weight: 600; }
  p a {
    color: #c95ac7; }
    p a:hover {
      color: #8e2f8d; }

h1 {
  font: 400 normal 6em/.8em "Corben";
  padding-bottom: 20px;
  text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.2); }

h3 {
  color: #c95ac7;
  font-style: italic;
  font-size: 1.6em;
  line-height: 1.1em;
  margin-top: 15px; }

h2 {
  font: 400 normal 2.4em/1 "Corben";
  margin-bottom: .75em;
  text-transform: uppercase; }

input.button, .backNow .backitButton, #quiz button {
  background: #c95ac7;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  font: normal 400 1.6em/1 "Corben";
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 1px rgba(27, 9, 27, 0.5);
  width: 100%; }
  input.button:hover, .backNow .backitButton:hover, #quiz button:hover {
    background: #b53bb3; }

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding: 0 30px;
  position: relative; }

header {
  background: url("../images/top-eyes.png") center bottom repeat-x, url("../images/purple-bg.jpg");
  padding: 0 0 20px;
  text-align: center; }
  header .logo {
    margin: 20px auto 0;
    overflow: hidden; }
  header nav.mainNav {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(27, 9, 27, 0.05)), to(rgba(27, 9, 27, 0.3)));
    background: -webkit-linear-gradient(top, rgba(27, 9, 27, 0.05) 70%, rgba(27, 9, 27, 0.3));
    background: linear-gradient(to bottom, rgba(27, 9, 27, 0.05) 70%, rgba(27, 9, 27, 0.3));
    border-bottom: 3px solid rgba(201, 90, 199, 0.2);
    font-size: 1.8em;
    color: #421541;
    padding: 10px 0; }
    header nav.mainNav a {
      color: #c95ac7;
      text-decoration: none;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
      header nav.mainNav a.navHere, header nav.mainNav a:hover {
        color: #e3ba5b; }

.kickstarterCorner {
  position: absolute;
  right: 0;
  top: 0; }
  .kickstarterCorner:hover .style5 {
    fill: white; }

section.videoPlayer {
  background: url("../images/video-eyes.png") center center fixed, -webkit-gradient(linear, left top, left bottom, from(#1b091b), to(rgba(27, 9, 27, 0.75))), url("../images/purple-bg.jpg");
  background: url("../images/video-eyes.png") center center fixed, -webkit-linear-gradient(top, #1b091b, rgba(27, 9, 27, 0.75)), url("../images/purple-bg.jpg");
  background: url("../images/video-eyes.png") center center fixed, linear-gradient(to bottom, #1b091b, rgba(27, 9, 27, 0.75)), url("../images/purple-bg.jpg");
  padding: 20px;
  text-align: center; }
  section.videoPlayer .positionWrapper {
    max-width: 800px;
    margin: 0 auto; }
  section.videoPlayer .videoWrapper {
    -webkit-box-shadow: 0px 3px 5px black;
    box-shadow: 0px 3px 5px black;
    height: 0;
    overflow: hidden;
    position: relative; }
    section.videoPlayer .videoWrapper.sixteenByNine {
      padding-bottom: 56.25%; }
    section.videoPlayer .videoWrapper.fourByThree {
      padding-bottom: 75%; }
    section.videoPlayer .videoWrapper iframe, section.videoPlayer .videoWrapper video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.mainContent {
  background: url("../images/bottom-eyes.png") center top repeat-x;
  border-top: 5px solid rgba(255, 255, 255, 0.7);
  padding: 60px 0 0; }
  .mainContent aside {
    -webkit-flex: 0 0 42%;
    -ms-flex: 0 0 42%;
    flex: 0 0 42%;
    padding-right: 30px;
    text-align: right; }
    .mainContent aside h1 span {
      display: inline-block; }
    .mainContent aside ul.infoText {
      border-top: 2px groove white;
      color: #c95ac7;
      font: 400 normal 2em/.75em "Corben";
      padding-top: 15px; }
      .mainContent aside ul.infoText li {
        padding-bottom: 15px; }
  .mainContent .mainText {
    -webkit-flex: 0 0 58%;
    -ms-flex: 0 0 58%;
    flex: 0 0 58%; }

.characterImage {
  -webkit-flex: 0 0 42%;
  -ms-flex: 0 0 42%;
  flex: 0 0 42%;
  overflow: hidden; }

.getUpdates {
  margin-bottom: 30px; }
  .getUpdates aside {
    padding-right: 0; }
  .getUpdates h1 {
    padding-bottom: 0; }
  .getUpdates h3 {
    margin-bottom: 20px; }

.getUpdates .mainText {
  -webkit-flex: 0 0 56.5%;
  -ms-flex: 0 0 56.5%;
  flex: 0 0 56.5%;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  padding-right: 10px; }

.mc-field-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px; }
  .mc-field-group label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none; }
  .mc-field-group input {
    border: none;
    border-radius: 5px;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    padding: 10px; }
    .mc-field-group input[placeholder] {
      font: italic 400 1.2em/1 "Libre Baskerville"; }
  .mc-field-group input + label + input {
    margin-left: 10px; }

input.button {
  -webkit-appearance: none;
  cursor: pointer; }

.colorWrap {
  background: rgba(27, 9, 27, 0.05);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(27, 9, 27, 0.1) inset;
  box-shadow: 0 2px 3px rgba(27, 9, 27, 0.1) inset;
  position: absolute;
  left: 20px;
  right: 20px;
  height: 72.5%;
  top: 15%;
  z-index: -1; }

.backNow .colorWrap {
  height: 50%;
  top: 25%; }
.backNow aside {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  -webkit-flex: 2 27.5%;
  -ms-flex: 2 27.5%;
  flex: 2 27.5%;
  padding-right: 10px;
  text-align: left; }
.backNow .mainImage {
  -webkit-flex: 3 72.5%;
  -ms-flex: 3 72.5%;
  flex: 3 72.5%;
  overflow: hidden;
  padding-right: 20px; }

.printPlay {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 30px; }
  .printPlay .mainText {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 58%;
    -ms-flex: 0 58%;
    flex: 0 58%;
    max-width: 546px; }
    .printPlay .mainText p, .printPlay .mainText .pnpExample {
      -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
      flex: 1 50%; }
    .printPlay .mainText p {
      -ms-flex-item-align: center;
      -webkit-align-self: center;
      align-self: center;
      color: gray;
      font: normal 1.8em/1.7 "Corben";
      border-top: 2px groove white;
      padding: 10px 10px 0 0; }

.someQuotes {
  margin-bottom: 50px; }
  .someQuotes blockquote {
    max-width: 700px;
    margin: 0 auto 30px;
    text-align: center;
    padding: 0 15px; }
    .someQuotes blockquote:first-child {
      padding-left: 0; }
    .someQuotes blockquote:last-child {
      padding-right: 0; }
    .someQuotes blockquote p {
      font-style: italic;
      background: rgba(201, 90, 199, 0.2);
      border-radius: 6px;
      padding: 10px 20px;
      position: relative; }
      .someQuotes blockquote p::after {
        content: "";
        border: 20px solid #c95ac7;
        border-color: rgba(201, 90, 199, 0.2) transparent transparent transparent;
        height: 0;
        width: 0;
        left: calc(50% - 20px);
        margin: 0 auto;
        position: absolute;
        top: 100%; }
    .someQuotes blockquote cite {
      display: inline-block;
      margin-top: 30px; }
    .someQuotes blockquote h2 {
      margin-bottom: 5px; }
    .someQuotes blockquote h3 {
      margin-top: 0; }

.darkenWrap {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 9, 27, 0.05)), to(rgba(27, 9, 27, 0)));
  background: -webkit-linear-gradient(top, rgba(27, 9, 27, 0.05), rgba(27, 9, 27, 0));
  background: linear-gradient(to bottom, rgba(27, 9, 27, 0.05), rgba(27, 9, 27, 0));
  padding: 30px 0 50px; }

.theCrew p {
  font-size: 1.55em; }
.theCrew aside {
  -webkit-flex: 0 0 27.5%;
  -ms-flex: 0 0 27.5%;
  flex: 0 0 27.5%; }
  .theCrew aside h1 {
    border-bottom: none;
    color: gray; }
.theCrew .mainText {
  -webkit-flex: 0 0 72.5%;
  -ms-flex: 0 0 72.5%;
  flex: 0 0 72.5%; }
  .theCrew .mainText .crewProfile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px; }
  .theCrew .mainText img {
    width: 142px; }
  .theCrew .mainText .crewProfileText {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 10px; }

.additionalSupport aside h2 {
  color: gray;
  text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2);
  text-transform: none; }

.mainFooter {
  background: url("../images/top-eyes.png") center bottom repeat-x, url("../images/purple-bg.jpg");
  padding: 30px 20px 20px;
  text-align: right; }
  .mainFooter .container {
    overflow: visible; }
  .mainFooter .Eye4Logo {
    margin-top: -30px;
    margin-right: -100px;
    position: relative;
    z-index: 1; }
  .mainFooter .textContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 120px; }
  .mainFooter .copyright {
    color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font: 200 normal 2em/1 "Oswald",Helvetica, Arial, sans-serif;
    padding: 30px 0 0 20px;
    text-align: left;
    text-transform: uppercase; }
  .mainFooter .footerNav {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding-top: 30px; }
    .mainFooter .footerNav a {
      color: #c95ac7;
      font: 700 italic 2em/1 "Libre Baskerville";
      margin-left: 30px;
      padding: 30px 0 20px;
      text-decoration: none;
      text-shadow: 0 1px 2px #1b091b; }
      .mainFooter .footerNav a:hover {
        color: #e2a7e1; }

#rules aside h2 {
  text-transform: none; }
#rules aside h2 {
  color: gray; }
#rules ol ul {
  margin-left: 20px; }
#rules .mainText li {
  font: normal 400 1.6em/1.75em "Libre Baskerville", Georgia, serif;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-left: 20px; }
#rules .mainText ul {
  list-style-type: disc; }
#rules .mainText ol {
  list-style-type: decimal; }
#rules .mainText img, #rules aside img {
  max-width: 100%;
  width: 100%;
  height: auto; }

ul p {
  padding-bottom: 15px; }

.rulesIndex {
  border-top: 2px groove white;
  padding-top: 10px; }
  .rulesIndex a {
    font: normal 400 1.6em/1.75em "Libre Baskerville", Georgia, serif;
    color: #c95ac7; }

.videoPlayer .introText {
  color: #c95ac7;
  text-align: left;
  max-width: 800px; }

.example {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 90, 199, 0.4)), to(rgba(201, 90, 199, 0.2)));
  background: -webkit-linear-gradient(top, rgba(201, 90, 199, 0.4), rgba(201, 90, 199, 0.2));
  background: linear-gradient(to bottom, rgba(201, 90, 199, 0.4), rgba(201, 90, 199, 0.2));
  border: 4px outset rgba(201, 90, 199, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 10px 20px 0;
  font-size: .8em; }
  .exampleGray {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.7)), to(rgba(128, 128, 128, 0.5)));
    background: -webkit-linear-gradient(top, rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.5));
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.5));
    border-color: rgba(192, 192, 192, 0.2);
    color: white; }
  .example h3 {
    color: white;
    font: 400 2.5em/1 "Corben";
    padding-bottom: 20px;
    text-align: center; }
  .example p {
    padding-bottom: 15px;
    text-align: left; }

.characterStuff h3 {
  font: 400 normal 2em/1.2em "Corben";
  margin-bottom: 5px;
  text-transform: uppercase; }
.characterStuff h4 {
  color: #c95ac7;
  font-style: italic;
  font-size: 1.6em;
  margin-bottom: 15px; }

#quiz section.videoPlayer {
  background: url("../images/sebastian-bg.png") center center fixed, #1b091b;
  -webkit-background-size: cover;
  background-size: cover;
  color: #c95ac7; }
  #quiz section.videoPlayer.withSebastian {
    padding-bottom: 0; }
  #quiz section.videoPlayer .introText {
    color: white; }
    #quiz section.videoPlayer .introText h2 {
      color: #c95ac7; }
    #quiz section.videoPlayer .introText main {
      overflow: hidden; }
#quiz button {
  cursor: pointer;
  margin: 0 auto;
  max-width: 300px; }
#quiz .errorMessage {
  background: #c95ac7;
  color: white;
  font: 400 normal 1em/1 "Libre Baskerville",Georgia,serif;
  margin: 10px auto 0;
  max-width: 400px;
  padding: 3px 5px;
  text-align: center; }

.question {
  text-align: left;
  text-transform: none; }

.answers {
  margin-bottom: 30px; }
  .answers label {
    display: block;
    font: 400 1.5em/1.75em "Libre Baskerville",Georgia,serif;
    margin-bottom: 10px;
    padding-bottom: 7px 5px;
    padding-left: 25px; }
    .answers label:hover {
      background: rgba(27, 9, 27, 0.05); }
  .answers input {
    margin-left: -20px; }

.learnMore a {
  border-bottom: 1px solid #c95ac7;
  text-decoration: none;
  padding-bottom: 2px;
  margin-bottom: 10px; }

.transcriptHere {
  padding-bottom: 50px; }

.videoSelect {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

label[for^="videoChoice"] {
  -webkit-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 9, 27, 0.8)), to(rgba(27, 9, 27, 0.5)));
  background: -webkit-linear-gradient(top, rgba(27, 9, 27, 0.8), rgba(27, 9, 27, 0.5));
  background: linear-gradient(to bottom, rgba(27, 9, 27, 0.8), rgba(27, 9, 27, 0.5));
  border: 2px white outset;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 15px 30px;
  padding: 2px 2px 1px; }
  label[for^="videoChoice"] img {
    border-radius: 2px;
    width: 100%;
    opacity: .5;
    -webkit-transition: .2s opacity;
    transition: .2s opacity; }
  label[for^="videoChoice"] small {
    display: block;
    background: #1b091b;
    color: white;
    padding: 5px 0;
    font-style: italic; }
  label[for^="videoChoice"] input[type="radio"] {
    position: absolute;
    visibility: hidden; }
  label[for^="videoChoice"]:hover img {
    opacity: .8; }
  label[for^="videoChoice"] > input:checked + img {
    opacity: 1; }
  label[for^="videoChoice"] > input:checked ~ small {
    background: rgba(255, 255, 255, 0.2);
    color: white; }
  label[for^="videoChoice"]:nth-child(3n+3) {
    margin-right: 0; }
  label[for^="videoChoice"]:first-child, label[for^="videoChoice"]:nth-child(4) {
    margin-left: 0; }

#videos .mainContent {
  text-align: center; }

#videos h3 {
  margin-bottom: 20px; }

@media screen and (max-width: 960px) {
  h1 {
    font-size: 6vw; } }
@media screen and (max-width: 800px) {
  .mainFooter .textContainer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .mainFooter .copyright, .mainFooter .footerNav {
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }
  .mainFooter .copyright {
    text-align: right; }
  .mainFooter .footerNav {
    padding-top: 10px; } }
@media screen and (max-width: 765px) {
  .pnpExample {
    display: none; }

  .kickstarterCorner {
    width: 75px; }
    .kickstarterCorner svg {
      height: 75px; }

  .someQuotes {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .someQuotes blockquote {
      -webkit-flex: 0 100%;
      -ms-flex: 0 100%;
      flex: 0 100%;
      padding: 0; } }
@media screen and (max-width: 686px) {
  .getUpdates .mainText, .getUpdates .characterImage {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .getUpdates .colorWrap {
    height: 80%;
    top: 10%; }

  .backNow aside, .backNow .mainImage, .backNow .colorWrap {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  .theCrew {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .theCrew aside, .theCrew .mainText {
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
    .theCrew aside {
      text-align: center;
      padding-right: 0;
      padding-bottom: 30px; }

  label[for^="videoChoice"] {
    -webkit-flex: 0 1 45%;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;
    margin: 0 15px 30px; }
    label[for^="videoChoice"]:nth-child(3n+3) {
      margin-right: 15px; }
    label[for^="videoChoice"]:nth-child(4) {
      margin-left: 15px; }
    label[for^="videoChoice"]:nth-child(even) {
      margin-right: 0; }
    label[for^="videoChoice"]:nth-child(odd) {
      margin-left: 0; } }
@media screen and (max-width: 580px) {
  .getUpdates {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .getUpdates h1, .getUpdates h3 {
      text-align: center; }
    .getUpdates form {
      margin-bottom: 10px; }
    .getUpdates .mc-field-group {
      display: block; }
      .getUpdates .mc-field-group input {
        width: 100%; }
      .getUpdates .mc-field-group input + label + input {
        margin-left: 0;
        margin-top: 10px; }
    .getUpdates .mainText {
      padding-right: 0; }
    .getUpdates .mainText, .getUpdates .characterImage {
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
    .getUpdates .colorWrap {
      height: auto;
      top: 0;
      bottom: 0;
      margin: 100px 0 0; }

  .mainFooter .copyright, .mainFooter .footerNav {
    padding-top: 0; }
  .mainFooter .footerNav a {
    display: block;
    margin: 0;
    padding: 10px 0 0; } }
@media screen and (max-width: 565px) {
  .introText {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .introText aside, .introText .mainText {
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
    .introText aside {
      text-align: center;
      padding-right: 0;
      padding-bottom: 30px; }

  .printPlay .mainText {
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }

  .backNow {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .backNow aside, .backNow .mainImage {
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
    .backNow aside {
      text-align: center;
      padding: 0 10px; }
    .backNow .backitButton {
      margin-bottom: 20px; }
    .backNow .colorWrap {
      height: auto;
      top: 0;
      bottom: 0;
      margin: 30px 0 0; }

  .theCrew .mainText {
    text-align: center; }
    .theCrew .mainText .crewProfile {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .theCrew .mainText .crewProfileText {
      padding-left: 0;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
    .theCrew .mainText img {
      margin: 0 auto;
      width: 200px; }

  .sebastianWelcome {
    display: none; } }
@media screen and (max-width: 510px) {
  label[for^="videoChoice"] {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0 0 30px; }
    label[for^="videoChoice"]:nth-child(3n+3) {
      margin-right: 0; }
    label[for^="videoChoice"]:nth-child(4) {
      margin-left: 0; } }
@media screen and (max-width: 400px) {
  .kickstarterCorner {
    width: 50px; }
    .kickstarterCorner svg {
      height: 50px; }

  h1 {
    font-size: 4em; } }


